.badge {
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  padding: 2px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.square {
  border-radius: 4px;
}

.pill {
  border-radius: 12px;
}

.gray {
  color: #1f2937;
  background: #f3f4f6;
}
